/* General class */

@media screen and (max-width: 576px) {
  .container-sm {
    width: 100%;
    margin: 0 !important;
  }
}

/* General Class End */

/* Typography */
.red-medium {
  color: red;
  font-weight: 500;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-700 {
  font-weight: 700 !important;
}


/* Typography End */

/* Tabs */

.tabs-container {
  width: 100%;
}

.tabs .tab {
  flex-grow: 1;
}

.tabs .indicator {
  background-color: #fff !important;
}

/* Tabs End */


/* Standings Tab */



.team-item {
  cursor: pointer;
}

/* Standings Tab End */





/* Matches Tab */
.match-list {
  border: none !important;
}

.match-item {
  display: flex;
  flex-direction: column;
  padding: 10px 0 !important;
  border: none !important;
}

.round-info {
  margin-top: 20px;
}

.home-team {
  margin-bottom: 5px;
}

.home-team, .away-team {
  display: flex;
  justify-content: space-between;
}

.home-team-info {
  vertical-align: center;
  display: flex;
}

.team-img {
  width: 20px;
  margin-right: 8px;
}

.times {
  border-left: 1px solid #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date, .time {
  margin: 0;
}

.date {
  margin-bottom: 5px;
}
/* Matches Tab */

/* Team Detail */
.team-data {
  margin-top: 3rem;
}



/* Team Detail End */