/* General class */

@media screen and (max-width: 576px) {
  .container-sm {
    width: 100%;
    margin: 0 !important;
  }
}

/* General Class End */

/* Typography */
.red-medium {
  color: red;
  font-weight: 500;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-700 {
  font-weight: 700 !important;
}


/* Typography End */


/* Navbar */
nav .brand-logo--detail-page {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


/* Navbar End */

/* Tabs */

.tabs-container {
  width: 100%;
}

.tabs .tab {
  flex-grow: 1;
}

.tabs .indicator {
  background-color: #fff !important;
}

/* Tabs End */


/* Standings Tab */



.team-item {
  cursor: pointer;
}

/* Standings Tab End */





/* Matches Tab */
.match-list {
  border: none !important;
}

.match-item {
  display: flex;
  flex-direction: column;
  padding: 10px 0 !important;
}

.round-info {
  margin-top: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.home-team {
  margin-bottom: 5px;
}

.home-team, .away-team {
  display: flex;
  justify-content: space-between;
}

.home-team-info {
  vertical-align: center;
  display: flex;
}

.team-img {
  width: 20px;
  margin-right: 8px;
}

.times {
  border-left: 1px solid #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date, .time {
  margin: 0;
}

.date {
  margin-bottom: 5px;
}
/* Matches Tab */


/* Favourite Tab */
.team-fav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-fav-item {
  min-height: unset !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
/* Favourite Tab End */




/* Team Detail */
.team-data {
  margin-top: 3rem;
}

/* Team Detail End */


